body .container {
    padding: 0;
    width: 100%; 
    color:#535353;   
}
p {
    text-align: justify;
}

.offset-right {
    margin-right: 0;
}

h2 {
    text-align: center;
    font-size: 22px;
    color: #535353;
    margin-bottom: 40px;
}

h4 {
    text-align: center;
    margin:0;
}

a {
    color:#535353;
    text-decoration: none;
    padding: 2px;
}

a:hover {
    color:#535353;
    text-decoration: none;
    outline:1px #535353 solid;
}

a:focus {
    color:inherit;
    text-decoration: none;
}

/*Классы хедера*/
header {
    background: #00b518;
    padding: 2px 0;
    width: 100%;
    height: 100%;
    margin:0;
    color:#fff;
    box-shadow: 0 1px 1px #fff;
}

.login {
    float:left;
    margin-top:10px;
}

header a {
    color:#fff;
    text-decoration: none;
    display: inline-block;
    padding: 5px 3px;
    margin-right: 10px;
    text-shadow: 0 1px 1px #000;
}
header a:hover {
    outline: 1px #fff solid;
    color:#fff;
    text-decoration: none;
}

header a:focus {
    color:inherit;
    text-decoration: none;
}

header a:visited {
    color:inherit;
    text-decoration: none;
}

.menu {
    float: right;
    margin-top:20px;
}

.menu a {
    margin-right: 0;
    margin-left: 10px;
}

.logo_mini {
    margin-right: 10px;
}

/*Классы main*/
main {
    background: url("pic/bcg_all.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main_wrapper {
    width: 100%;
    margin:auto;
    background: #fff;
    border-left: 1px #000 solid;
    border-right: 1px #000 solid;
    padding: 30px 70px;
    
}
.about_miniheaders {
    margin-top:40px;
    margin-bottom: 20px;
}
.mainGrid {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 20px;
    margin-top:40px;
    justify-content: center;
}

.descElement {
    border: 1px #535353 solid;
    border-radius: 3px;
    padding: 25px;
}

.descElement:hover {
    box-shadow: 1px 1px 5px #000;
}

.petPhoto {
    float: left;
    margin-right: 20px;
    max-width: 200px;
    margin-top:10px;
    margin-bottom: 20px;
    display: block;
    border-radius: 5px;
    border: rgb(124, 124, 124) 1px solid;
    transition-duration: all 20s;
}

.petPhoto:hover {
    transform: scale(2, 2);
    transition-duration: 2s;
}

.chars {
    margin:20px;
    font-size: 14px;
    text-align: justify;
}

.desc_text {
    clear: both;
}

.contact_me {
    text-align: center;
    margin-top: 20px;
    clear: both;
    font-size: 16px;
}

#con {
    text-decoration: none;
    background: none;
    font-size: 16px;
    color:inherit;
}

#addDesc {
    font-size: 16px;
}

footer {
    background: #00b518;
    padding: 15px 0;
    width: 100%;
    margin:0;
    color:#fff;
}
.policy {
    position: fixed;
    width: 700px;
    height: auto;
    background: #00b518;
    border: #eee 1px solid;
    border-radius: 5px;
    z-index: 100;
    color:#eee;
    padding: 10px;
    font-size:12px;
    top: 0;
    left: 30%;
}

.policy a {
    color: #eee;
}
.policy a:hover {
    outline: 1px #fff solid;
    color:#fff;
    text-decoration: none;
}
#policy_button {
    float: none;
    border: #eee 1px solid;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
}
.bottom_menu {
    color:#fff;
    margin-right: 20px;
}

.smm_links:hover {
    outline: none;
}

.bottom_menu:hover {
    outline: 1px #fff solid;
    color:#fff;
    text-decoration: none;
}

footer a:focus {
    color:inherit;
    text-decoration: none;
}

footer a:visited {
    color:inherit;
    text-decoration: none;
}

.copy {
    float: left;
    margin-top:10px;
}

.links {
    float:right;
    color:#fff;
}

.links img {
    margin-right: 10px;
}
.links p {
    margin:0;
}

.auth {
    display: block;
    position:absolute;
    width: 330px;
    height: auto;
    border: 1px #000 solid;
    border-radius: 5px;
    background: #fff;
    margin-left:33%;
    top:20px;
    text-align: center;
    padding: 20px;
    box-shadow: 3px 3px 15px rgb(134, 134, 134);
}

.auth input {
    margin-bottom: 10px;
    padding-left:5px;
    border-radius: 5px;
    border: 1px rgb(80, 80, 80) solid;
    background: #fff;
}

.auth input:focus {
    border: 1px rgb(80, 80, 80) solid;
    outline: none;
}

.auth input[type="submit"] {
    margin-top:10px;
    background: #eee;
    color:#000;
}

.auth input[type="submit"]:hover {
    background: rgb(80, 80, 80);
    color:#fff;
}

.auth h4 {
    margin-bottom: 10px;
}

#close2, #close {
    float: right;
    font-size: 18px;
    cursor: pointer;
    transition: all .4s ease-out;
}

#close2:hover, #close:hover {
    transform: scale(1.2, 1.2);
}

.add_form {
    position: absolute;
    width: 500px;
    height: auto;
    border: 1px #000 solid;
    border-radius: 5px;
    background: #fff;
    margin-left: 20%;
    top:-40px;
    padding: 20px;
    text-align: center;
}

.add_form input {
    margin-bottom: 10px;
    padding-left:5px;
    border-radius: 5px;
    border: 1px rgb(80, 80, 80) solid;
    background: #fff;
}

.add_form input:focus {
    border: 1px rgb(80, 80, 80) solid;
    outline: none;
}

.add_form input[type="submit"] {
    margin-top:10px;
    background: #eee;
    color:#000;
}

.add_form input[type="submit"]:hover {
    background: rgb(80, 80, 80);
    color:#fff;
}

.add_form input[type="file"] {
    padding: 0;
    margin:auto;
}

.add_form textarea {
    border: 1px rgb(80, 80, 80) solid;
    outline: none;
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    padding-left:5px;
    border-radius: 5px;
    background: #fff;
}

.add_form h4 {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}


@media all and (min-width: 0) and (max-width: 800px) {
    .mainGrid {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin-top:40px;
    }

    .auth {
        margin-left:15%;
    }
    .add_form {
        margin-left:-10%;
    }
}

@media all and (min-width: 0) and (max-width: 500px) {
    .menu {
        float: none;
        clear: both;
    }
    .add_form {
        width: auto;
    }
    .auth {
        margin-left:5%;
    }

    .policy {
        left: 10px;
        width: 90%;
    }

    #policy_button {
        float: none;
        margin-right: 5px;
        text-align: center;
    }
    .copy {
        float: none;
        display: block;
        margin: auto;
        width: 50px;
    }
    .links {
        float: none;
        clear: both;
    }
    .links img {
        margin-right: 5px;
        width: 10%;
    }
}