<!DOCTYPE html>
<html>
  {% include 'head.tmpl' %}

    <body>

            {% include 'header.tmpl' %}
            <main class="about_box">
                        <div class="auth hidden" id="auth">
                            <i  id="close" class="fas fa-times"></i>
                            <div id="wrapper">
                            </div>
                        </div>
                        <div class="main_wrapper">
                            <h2>О проекте</h2>
                            <p class="large_text">
                                Поиск домашних животных. 
                                <br><br>
                                В проекте на сегодня предполагается реализовать следующие возможности: <br>
                                - доска объявлений о пропаже домашних животных;<br>
                                - перечень ветеринарных клиник в вашем городе с возможностью поиска ближайшей к вам;<br>
                                - перечень приютов со всеми контактными данными. <br>
                                <br><br>
                                Проект не является коммерческим. На сегодня мы не собираем каких- либо пожертвований, дотаций, доната, вложений и прочих инвестиций. Если кто-то от имени сайта или группы в соц сетях обратился к вам с предложением внести какую-либо денежную сумму для развития нашего проекта, то, скорее всего, это мошенник. В этом случае просьба сообщить нам, написав на info@pet-alert.ru. 
                                <br><br>
                                Также размещение объявления и какой-либо достоверной информации на сайте проекта будет абсолютно бесплатным.
                                <br><br>
                                Вы можете ознакомиться с <a href="page.php?open=privacyPage" target="_blank">«Политикой обработки персональных данных»</a>.
                            </p>
                            <h4 class="about_miniheaders">Правила сайта</h3>
                            <p class="large_text">
                                Сайт Pet-Alert.ru (далее - Сайт) создан с целью помощи в поисках домашних животных.
                                <br><br>
                                Зарегистрированные и авторизованные участники Сайта (далее - Участник) выкладывают на Сайте свои объявления
                                 о пропаже домашних животных, которые содержат фотографию, имя питомца, город, в котором его последний раз видели, описание питомца, а так же контактную информацию.
                                <br><br>
                                На Сайте существуют определенные правила Сайта (далее - Правила) :
                                <br>
                                </p>
                                <ol>
                                <li>Объявления должны быть достоверными. В объявлении должно быть указано настоящее имя питомца, его фотография и город, в котором он был утерян.</li>
                                <li>В объявлении не допускается ненормативная лексика.</li>
                                <li>Не допускается размещения объявления с целью оскорбления других участников Сайта.</li>
                                <li>Не допускаются объявления не по тематике Сайта.</li>
                                <li>Регистрируясь, Участник соглашается с настоящими Правилами, а так же с <a href="page.php?open=privacyPage" target="_blank">«Политикой обработки персональных данных»</a>.</li>
                                </ol>
                                <p class="large_text">
                                <br><br>
                                Модераторы и администраторы Сайта при обнаружении нарушения Правил имеют право скорректировать объявления 
                                уведомив об этом разместившего данное объявление Участника, а так же удалить объявление грубо нарушающее 
                                Правила сайта уведомив об этом разместившего данное объявление Участника.
                                <br><br>
                                Участник, размещая объявления дает право на обработку своих персональных данных в соответствии с <a href="page.php?open=privacyPage" target="_blank">«Политикой обработки персональных данных»</a>.
                            </p>
                            
                        </div>
            </main>
              {% include 'footer.tmpl' %}
{% include 'yandex.tmpl' %}

        <script src="public/app_other.js"></script>
    </body>
</html>