<div class="policy hidden" id="policy_div">
  <p>
    Данный сайт pet-alert.ru использует cookies.
    <br>
    Это необходимо для технической работы данного сайта.
    <br>
    В случае, если Вы не согласны с этим, то просьба покинуть данный сайт.
    <br>
    Вы так же можете ознакомиться с
    <a href="page.php?open=aboutPage" target="_blank">"Правилами сайта"</a>
    и
    <a href="page.php?open=privacyPage" target="_blank">«Политикой обработки персональных данных на Сайте»</a>.
    <button class="butn2" id="policy_button" onclick="closePolicy()">Ок</button>
  </p>
</div>
