<!DOCTYPE html>
<html>
    <head>
        <title>Pet-Alert</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="public/pic/favicon.png"/>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <!-- Подключаем animate.css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
        <!-- Подключаем бутстраповские стили -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
        <!-- Подключаем свои стили -->
        <link rel="stylesheet" href="public/main.css">

        <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(51632531, "init", {
        id:51632531,
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/51632531" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    </head>
    <body>
        <div class="container">
            <header>
                <div class="row offset-right">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div>
                            <nav>
                                {% if user_id > 0 %}
                                <div class="login">
                                    <p><img src="public/pic/Logo-mini.png" class="logo_mini">Добро пожаловать, {{user_name}}! <a href="main_controller.php?exit=1">Выйти</a></p>

                                </div>
                                {%else%}
                                <div class="login">
                                    <p><img src="public/pic/Logo-mini.png" class="logo_mini"><a href="#" id="login">Войти</a> <a href="#" id="signup">Регистрация</a></p>
                                </div>
                                {%endif%}
                                <div class="menu">
                                    <p><a href="main_controller.php?desc=1">Объявления</a> <a href="main_controller.php?about=1">О проекте</a></p>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </header>
            <main>
                <div class="row offset-right">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="auth hidden" id="auth">
                            <i  id="close" class="fas fa-times"></i>
                            <div id="wrapper">
                            </div>
                        </div>
                        <div class="main_wrapper">
                        {%if user_id is empty%}
                            <div class="policy hidden" id="policy_div">
                                <p>
                                    Данный сайт pet-alert.ru использует cookies.
                                    <br>
                                    Это необходимо для технической работы данного сайта.
                                    <br>
                                    В случае, если Вы не согласны с этим, то просьба покинуть данный сайт.
                                    <br>
                                    Вы так же можете ознакомиться с <a href="main_controller.php?about=1" target="_blank">"Правилами сайта"</a> и <a href="main_controller.php?policy=1" target="_blank">«Политикой обработки персональных данных на Сайте»</a>.
                                </p>
                                <p id="policy_button" onclick = "closePolicy()">
                                    Ок
                                </p>
                            </div>
                        {%endif%}
                            <div class="add_form hidden" id="add_form">
                                <i  id="close2" class="fas fa-times"></i>
                                <h4>Добавить объявление</h4>
                                <form action="main_controller.php?addPost=1" method="POST" enctype="multipart/form-data">
                                    <p>
                                        Укажите кто пропал, а также его имя.
                                        <br>
                                        <input type="text" name="desc_name" placeholder="Кто пропал?">
                                        <br>
                                        Укажите Ваш город.
                                        <br>
                                        <input type="text" name="desc_city" placeholder="Какой город?">
                                        <br>
                                        Опишите Вашего питомца.
                                        <br>
                                        <textarea name="desc_text" placeholder="Как он выглядел, порода, рост, вес, цвет шерсти, что на нем было, какие то приметы."></textarea>
                                        <br>
                                        Загрузите фотографию Вашего питомца.
                                        <br>
                                        Загружайте фотографии в формате .jpg или .png.
                                        <br>
                                        <input type="hidden" name="addPost" value="1">
                                        
                                        <input type="file" name="pet_photo" accept="image/jpeg, image/png">
                                        <br>
                                        Как можно с Вами связаться? <br>Укажите телефон или e-mail.
                                        <br>
                                        <input type="text" name="desc_mail" placeholder="Какой способ связи?">
                                        <br><br>
                                        Нажимая кнопку "Отправить" Вы соглашаетесь с <a href="main_controller.php?about=1" target="_blank">"Правилами сайта"</a> 
                                        и <a href="main_controller.php?policy=1" target="_blank">"Политикой обработки персональных данных"</a>.
                                        <br>
                                        <input type="submit" value="Отправить">
                                    </p>
                                </form>

                            </div>
                            
                            {% if user_id > 0 %}
                            <p onclick="showDesc()">
                                <a href="#" id="addDesc"><i class="fas fa-plus-square"></i> Добавить объявления</a>
                            </p>
                            {% else %}
                            <p>
                                Что бы добавить объявление - <a href="#" id="login1">войдите</a>.
                            </p>
                            {%endif%}

                            <div class="mainGrid">
                            {% for key, post in posts %}
                                <div class="descElement">
                                    <h4 class="desc_header">{{ post['header'] }}</h4>
                                    <div class="desc-wrapper">
                                        <img src="{{post['src']}}" class="petPhoto">
                                        <p class="chars">
                                            Объявление №{{post['id']}}.
                                            <br>
                                            <br>
                                            Дата объявления: <br>{{date[key]['day']}}.{{date[key]['month']}}.{{date[key]['year']}}.
                                            <br>
                                            <br>
                                            <b>Город: {{post['city']}}</b>
                                            <br>
                                        </p>
                                        <p class="desc_text">
                                            {{post['text']|nl2br}}
                                        </p>
                                        <p class="contact_me">
                                            Вы можете со мной связаться по:
                                            <br>
                                            <mark id="con">{{post['contact']}}</mark>
                                        </p>
                                    </div>
                                </div>
                            {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </main>
            <footer>
                <div class="row offset-right">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">

                        <p class="copy">
                            2018 © <a href="mailto:info@pet-alert.ru" class="bottom_menu">info@pet-alert.ru</a><br>
                            <a href="main_controller.php?policy=1" target="_blank" class="bottom_menu">Политика обработки персональных данных пользователей</a>
                        </p>
                        
                        <div class="links">
                                <p>
                                    <a href="main_controller.php?desc=1" class="bottom_menu">Объявления</a> <a href="main_controller.php?about=1" class="bottom_menu">О проекте</a>
                                    <a href="https://vk.com/pet_alert" class="smm_links" target="_blank"><img src="public/pic/Vk-icon.png"></a>
                                    <a href="https://www.instagram.com/petalert_ru/" class="smm_links" target="_blank"><img src="public/pic/ins-icon.png"></a>
                                    <a href="https://twitter.com/PetAlertRU" class="smm_links" target="_blank"><img src="public/pic/tweeter-icon.png"></a>
                                    <a href="https://www.facebook.com/Pet-Alert-747397372264474/" class="smm_links" target="_blank"><img src="public/pic/fb-icon.png"></a>
                                </p>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </footer>
        </div>
        <script src="public/app.js"></script>
    </body>
</html>