<!DOCTYPE html>
<html lang="ru">
  {% include 'head.tmpl' %}
  <body>
      {% include 'preloader.tmpl' %}
      {% include 'header.tmpl' %}
      <main class="main_box">
            <div class="auth hidden" id="auth">
              <i id="close" class="fas fa-times"></i>
              <div id="wrapper"></div>
            </div>
            <div class="main_wrapper">
              {%if user_id is empty %}
                {%if policy_check == 0 %}
                  {% include 'cookiesInfo.tmpl' %}
                {%endif%}
              {%endif%}

                  {% if user_id > 0 %}
                    <p>
                      <select id="sortPost"></select>
                      <button id="addDesc" class="butn2">Добавить объявления</button>

                    </p>
                    <div class="add_form hidden" id="add_post_desc">
                      <h4 class="form_header">Добавить объявление</h4>
                      <div id="add_desc_menu" class="sweetcher">
                        <button class="sweetcher_elem chosen" data-param="lost">Поиск животных</button>
                        <button class="sweetcher_elem" data-param="find">Пристройство животных</button>
                      </div>
                      <div id="addDeskLost">
                        <form action="main_controller.php?addPost=1" method="POST" enctype="multipart/form-data">
                          <input class="inp inp_form" type="text" name="desc_name" placeholder="Укажите кто пропал, а так же имя.">
                          <input class="inp inp_form right_inp" type="text" name="desc_city" placeholder="Укажите город.">
                          <br>
                          <input class="inp inp_form" type="text" name="desc_mail" id="lost_contact" placeholder="Как с Вами связаться?  Телефон, e-mail, соц сети.">
                          <br>
                          Загрузите фотографию Вашего питомца. Загружайте фотографии в формате .jpg или .png.
                          <br>
                          <input type="hidden" name="addPost" value="1">
                          <input type="file" class="add_file_inp" name="pet_photo" accept="image/jpeg, image/png">
                          <br>
                          <textarea class="txtarea" name="desc_text" placeholder="Опишите Вашего питомца. Укажите его возраст, окрас, породу. Как он выглядел. Отличительные черты, приметы."></textarea>
                          <div class="add_to_socio">
                            <input type="checkbox" name="add_socio">
                            Даю согласие на размещение моего объявления в соц-сетях.
                          </div>
                          Нажимая кнопку "Отправить" Вы соглашаетесь с
                          <a class="form_link" href="main_controller.php?about=1" target="_blank">"Правилами сайта"</a>
                          и
                          <a class="form_link" href="main_controller.php?policy=1" target="_blank">"Политикой обработки персональных данных"</a>.
                          <br>
                          <button type="submit" class="butn popup_butn" id="lost_submit">Отправить</button>
                        </form>
                      </div>

                      <div id="addDeskFind" class="hidden">

                        <form action="main_controller.php?addPostFind=1" method="POST" enctype="multipart/form-data">

                          <input class="inp inp_form" type="text" name="desc_name" placeholder="Укажите кого следует пристроить, а так же имя.">
                          <input class="inp inp_form right_inp" type="text" name="desc_city" placeholder="Укажите город.">
                          <input class="inp inp_form" type="text" name="desc_mail" id="find_contact" placeholder="Как с Вами связаться? Телефон, e-mail, соц сети.">
                          <br>
                          Загрузите фотографию Вашего питомца. Загружайте фотографии в формате .jpg или .png.
                          <br>
                          <input type="hidden" name="addPost" value="1">
                          <input type="file" name="pet_photo" accept="image/jpeg, image/png">
                          <br>
                          <textarea class="txtarea" id="desc_text" name="desc_text" placeholder="Как он выглядит, порода, рост, вес, цвет шерсти, какие привычки, приучен ли к лодку, что ест, чем болеет и т.д."></textarea>

                          <div class="add_to_socio">
                            <input type="checkbox" name="add_socio">
                            Даю согласие на размещение моего объявления в соц-сетях.
                          </div>
                          Нажимая кнопку "Отправить" Вы соглашаетесь с
                          <a class="form_link" href="main_controller.php?about=1" target="_blank">"Правилами сайта"</a>
                          и
                          <a class="form_link" href="main_controller.php?policy=1" target="_blank">"Политикой обработки персональных данных"</a>.
                          <br>
                          <button class="butn popup_butn" type="submit" id="find_submit">Отправить</button>
                        </p>
                      </form>
                    </div>
                  </div>
                {% else %}
                  <p>
                    Что бы добавить объявление -
                    <a href="#" id="login1">войдите</a>.
                    <select id="sortPost"></select>
                  </p>
                  {% endif %}


                  <div id="showPostsMenu" class="sweetcher">
                    <button class="sweetcher_elem chosen" data-param="lostPat">Поиск питомца</button>
                    <button class="sweetcher_elem" data-param="findPat">Поиск дома</button>
                  </div>

                  <!--LOST POSTS -->

                  <div class="post_block" id="lostPosts">

                    {% for key, post in posts %}
                      <div class="post_element">
                        <h4 class="post_header">{{post['id']}}.&nbsp;
                          {{ post['header'] }}. &nbsp;<span class="post_city">{{post['city']}}</span>
                          <span class="dataPost">{{date[key]['day']}}.{{date[key]['month']}}.{{date[key]['year']}}</span>
                        </h4>
                        <div class="post_wrapper">

                          <a href="{{post['src']}}" target="_blank">
                            <img src="{{post['src']}}" class="petPhoto" alt="Pet photo">
                          </a>
                          <p class="post_text">
                            {{post['text']|nl2br}}
                          </p>
                          <p class="contact_me">
                            Вы можете со мной связаться по:
                            <b>{{post['contact']}}</b>
                          </p>
                        </div>
                      </div>
                      {%endfor%}
                    </div>
                    <!--/LOST POSTS -->

                    <!--FIND POSTS-->
                    <div class="post_block hidden" id="FindPosts">
                      {% for key, post in postsFind %}
                        <div class="post_element">
                          <h4 class="post_header">{{post['id']}}.
                            {{ post['header'] }}.
                            <span class="post_city">{{post['city']}}</span>
                            <span class="dataPost">{{dateFind[key]['day']}}.{{dateFind[key]['month']}}.{{dateFind[key]['year']}}</span>
                          </h4>
                          <div class="post_wrapper">

                            <a href="{{post['src']}}" target="_blank">
                              <img src="{{post['src']}}" class="petPhoto" alt="Pet photo">
                            </a>
                            <p class="post_text">
                              {{post['text']|nl2br}}
                            </p>
                            <p class="contact_me">
                              Вы можете со мной связаться по:

                              <b>{{post['contact']}}</b>
                            </p>
                          </div>
                        </div>
                        {%endfor%}
                      </div>
                      <!--/FIND POSTS-->
                    </div>
              </main>
              {% include 'footer.tmpl' %}
            </div>
{% include 'yandex.tmpl' %}

            <script src="public/app.js"></script>
          </body>
        </html>
