<footer class="footer_box">
      <p class="copy">
        2019 ©
        <a class="menu_link" href="mailto:info@pet-alert.ru" class="bottom_menu">info@pet-alert.ru</a><br>
        <a class="menu_link" href="main_controller.php?policy=1" target="_blank" class="bottom_menu">Политика обработки персональных данных пользователей</a>
      </p>
      <div class="socio_links">
        <a href="https://vk.com/pet_alert" class="smm_links" target="_blank"><img src="public/pic/Vk-icon.png" alt="VK link"></a>
        <a href="https://www.instagram.com/petalert_ru/" class="smm_links" target="_blank"><img src="public/pic/ins-icon.png" alt="Instagram link"></a>
        <a href="https://twitter.com/PetAlertRU" class="smm_links" target="_blank"><img src="public/pic/tweeter-icon.png" alt="tweeter link"></a>
        <a href="https://www.facebook.com/Pet-Alert-747397372264474/" class="smm_links" target="_blank"><img src="public/pic/fb-icon.png" alt="FB link"></a>
      </div>

      <div class="links">
        <a class="menu_link" href="main_controller.php?desc=1" class="bottom_menu">Объявления</a>
        <a class="menu_link" href="main_controller.php?about=1" class="bottom_menu">О проекте</a>
      </div>
</footer>
