<!DOCTYPE html>
<html>
{% include 'head.tmpl' %}

    <body>

{% include 'header.tmpl' %}

            <main>
                        <div class="auth hidden" id="auth">
                            <i  id="close" class="fas fa-times"></i>
                            <div id="wrapper">
                            </div>
                        </div>
                        <div class="main_wrapper">
                            <p class="get_info_text">
                            {{info}}
                            </p>
                            <a href="{{link}}" class="get_info_link"><< Назад</a>
                            
                            
                        </div>

            </main>
{% include 'footer.tmpl' %}


        <script src="public/app_other.js"></script>
    </body>
</html>