<header class="header_box">
  <p>
    <a href="/"><img src="public/pic/Logo-mini.png" class="logo_mini" alt="mini logo"></a>
  </p>
  <div class="menu">
    <a class="menu_link" href="page.php?open=postsPage">Объявления</a>
    <a class="menu_link" href="page.php?open=aboutPage">О проекте</a>
  {% if user_id > 0 %}
    {# Добро пожаловать, {{user_name}}! #}
    <a class="menu_link" href="page.php?open=userAccaunt">Личный кабинет</a>
    <a class="menu_link" href="user.php?exit=1">Выйти</a>
  {% if user_status == 1 %}
    <a class="menu_link" href="page.php?open=godPanel">Админка</a>
  {%endif%}
  
  {%else%}
    <a class="menu_link" href="#" id="login">Войти</a>
    <a class="menu_link" href="#" id="signup">Регистрация</a>
  {%endif%}
  </div>
  </header>
