<!DOCTYPE html>
<html>
    <head>
        <title>Pet-Alert</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="public/pic/favicon.png"/>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <!-- Подключаем animate.css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
        <!-- Подключаем бутстраповские стили -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
        <!-- Подключаем свои стили -->
        <link rel="stylesheet" href="public/main.css">
    </head>
    <body>
        <div class="container">
            <header>
                <div class="row offset-right">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div>
                            <nav>
                                {% if user_id > 0 %}
                                <div class="login">
                                    <p><img src="public/pic/Logo-mini.png" class="logo_mini">Добро пожаловать, {{user_name}}! <a href="main_controller.php?exit=1">Выйти</a></p>

                                </div>
                                {%else%}
                                <div class="login">
                                    <p><img src="public/pic/Logo-mini.png" class="logo_mini"><a href="#" id="login">Войти</a> <a href="#" id="signup">Регистрация</a></p>
                                </div>
                                {%endif%}
                                <div class="menu">
                                    <p><a href="main_controller.php?desc=1">Объявления</a> <a href="">О проекте</a></p>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </header>
            <main>
                <div class="row offset-right">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="auth hidden" id="auth">
                            <i  id="close" class="fas fa-times"></i>
                            <div id="wrapper">
                            </div>
                        </div>
                        <div class="main_wrapper">
                            <h2>Политика в отношении обработки персональных данных на сайте Pet-Alert.ru</h2>
                            <h4 class="about_miniheaders">1. Общие положения</h4>
                            <p class="large_text">
                                Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных Рыжова И. С. (далее – Оператор).<br><br>
                                1. Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.<br><br>
                                2. Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта http://pet-alert.ru.<br><br>
                            </p>  
                            <h4 class="about_miniheaders">2. Основные понятия, используемые в Политике</h4>
                            <p class="large_text">
                            1. Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники;<br><br>
                            2. Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);<br><br>
                            3. Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу http://pet-alert.ru;<br><br>
                            4. Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств;<br><br>
                            5. Обезличивание персональных данных — действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному Пользователю или иному субъекту персональных данных;<br><br>
                            6. Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;<br><br>
                            7. Оператор – государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;<br><br>
                            8. Персональные данные – любая информация, относящаяся прямо или косвенно к определенному или определяемому Пользователю веб-сайта http://pet-alert.ru;<br><br>
                            9. Пользователь – любой посетитель веб-сайта http://pet-alert.ru;<br>
                            10. Предоставление персональных данных – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц;<br><br>
                            11. Распространение персональных данных – любые действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно-телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом;<br><br>
                            12. Трансграничная передача персональных данных – передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому или иностранному юридическому лицу;<br><br>
                            13. Уничтожение персональных данных – любые действия, в результате которых персональные данные уничтожаются безвозвратно с невозможностью дальнейшего восстановления содержания персональных данных в информационной системе персональных данных и (или) результате которых уничтожаются материальные носители персональных данных.<br><br>
                            </p>
                            <h4 class="about_miniheaders">3. Оператор может обрабатывать следующие персональные данные Пользователя</h4>
                            <p class="large_text">
                            1. Фамилия, имя, отчество;<br><br>
                            2. Электронный адрес;<br><br>
                            3. Номера телефонов;<br><br>
                            4. Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).<br><br>
                            5. Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.<br><br>
                            </p>

                            <h4 class="about_miniheaders">4. Цели обработки персональных данных</h4>
                            <p class="large_text">
                            1. Цель обработки персональных данных Пользователя — информирование Пользователя посредством отправки электронных писем; предоставление доступа Пользователю к сервисам, информации и/или материалам, содержащимся на веб-сайте; размещение объявлений на сайте.<br><br>
                            2. Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес электронной почты ryzhov.is@mail.ru с пометкой «Отказ от уведомлениях о новых продуктах и услугах и специальных предложениях».<br><br>
                            3. Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.<br><br>
                            </p>

                            <h4 class="about_miniheaders">5. Правовые основания обработки персональных данных</h4>
                            <p>
                            1. Оператор обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на сайте http://pet-alert.ru. Заполняя соответствующие формы и/или отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой.<br><br>
                            2. Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript).<br><br>
                            </p>

                            <h4 class="about_miniheaders">6. Порядок сбора, хранения, передачи и других видов обработки персональных данных</h4>
                            <p class="large_text">
                            Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных.<br><br>
                            1. Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.<br><br>
                            2. Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства.<br><br>
                            3. В случае выявления неточностей в персональных данных, Пользователь может актуализировать их самостоятельно, путем направления Оператору уведомление на адрес электронной почты Оператора ryzhov.is@mail.ru с пометкой «Актуализация персональных данных».<br><br>
                            4. Срок обработки персональных данных является неограниченным. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление посредством электронной почты на электронный адрес Оператора ryzhov.is@mail.ru с пометкой «Отзыв согласия на обработку персональных данных».<br><br>
                            </p>

                            <h4 class="about_miniheaders">7. Трансграничная передача персональных данных</h4>
                            <p class="large_text">
                            1. Оператор до начала осуществления трансграничной передачи персональных данных обязан убедиться в том, что иностранным государством, на территорию которого предполагается осуществлять передачу персональных данных, обеспечивается надежная защита прав субъектов персональных данных.<br><br>
                            2. Трансграничная передача персональных данных на территории иностранных государств, не отвечающих вышеуказанным требованиям, может осуществляться только в случае наличия согласия в письменной форме субъекта персональных данных на трансграничную передачу его персональных данных и/или исполнения договора, стороной которого является субъект персональных данных.<br><br>
                            </p>
                             
                            <h4 class="about_miniheaders">8. Заключительные положения</h4>
                            <p class="large_text">
                            1. Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты ryzhov.is@mail.ru.<br><br>
                            2. В данном документе будут отражены любые изменения политики обработки персональных данных Оператором. Политика действует бессрочно до замены ее новой версией.<br><br>
                            3. Актуальная версия Политики в свободном доступе расположена в сети Интернет по адресу http://pet-alert.ru/main_controller.php?policy=1 .<br><br>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </main>
            <footer>
                <div class="row offset-right">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <p class="copy">
                            2018 © <a href="mailto:info@pet-alert.ru" class="bottom_menu">info@pet-alert.ru</a><br>
                            <a href="main_controller.php?policy=1" target="_blank" class="bottom_menu">Политика обработки персональных данных пользователей</a>
                        </p>
                        
                        <div class="links">
                                <p>
                                    <a href="main_controller.php?desc=1" class="bottom_menu">Объявления</a> <a href="main_controller.php?about=1" class="bottom_menu">О проекте</a>
                                    <a href="https://vk.com/pet_alert" class="smm_links" target="_blank"><img src="public/pic/Vk-icon.png"></a>
                                    <a href="https://www.instagram.com/petalert_ru/" class="smm_links" target="_blank"><img src="public/pic/ins-icon.png"></a>
                                    <a href="https://twitter.com/PetAlertRU" class="smm_links" target="_blank"><img src="public/pic/tweeter-icon.png"></a>
                                    <a href="https://www.facebook.com/Pet-Alert-747397372264474/" class="smm_links" target="_blank"><img src="public/pic/fb-icon.png"></a>
                                </p>
                            </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </footer>
        </div>
        <script src="public/app2.js"></script>
    </body>
</html>