<!--preloader-->
    <div class="preloader">
      <h2>Я почти загрузился :)</h2>
      <div class="preload_container">
        <div class="pre_box"></div>
        <div class="pre_box"></div>
        <div class="pre_box"></div>
        <div class="pre_box"></div>
        <div class="pre_box"></div>
      </div>
    </div>
<!--/preloader -->
