<!DOCTYPE html>
<html>
{% include 'head.tmpl' %}

    <body>
        <div class="container">
{% include 'header.tmpl' %}

            <main>
                <div class="row offset-right">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="main_wrapper">
                            <h2>Восстановление пароля.</h2>
                            <div class="add_form">
                                <form action="main_controller.php?getPassbyEmail=1" method="POST">
                                    <input class="inp inp_main_form" type="text" name="email" placeholder="Укажите ваш e-mail">
                                    
                                    <button type="submit" class="butn popup_butn">Отправить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </main>
              {% include 'footer.tmpl' %}

        </div>
    </body>
</html>