<!DOCTYPE html>
<html>
  {% include 'head.tmpl' %}

  <body>

    {% include 'header.tmpl' %}

    <main>

      <div class="main_wrapper">
        <h2>Восстановление пароля.</h2>
        <div class="add_form">
          <form action="user.php?retrivePass=1" method="POST">
            <span class="login_info">{{info}}</span>
            <input class="inp inp2" type="text" name="email" placeholder="Укажите ваш e-mail">

            <button type="submit" class="butn popup_butn">Отправить</button>
          </form>
        </div>
      </div>

    </main>
    {% include 'footer.tmpl' %}


  </body>
</html>
