<!DOCTYPE html>
<html>
  {% include 'head.tmpl' %}

    <body>
        
      {% include 'header.tmpl' %}

            <main>
                
                        <div class="main_wrapper">
                            <h2>Восстановление пароля.</h2>
                            <div class="add_form">
                                <form action="user.php?setNewPass=1" method="POST">

                                    
                                
                                    <input type="hidden" name="token" value="{{token}}">
                                
                                    <input class="inp inp2" type="password" name="pass" placeholder="Укажите новый пароль">
                                    
                                    <button type="submit" class="butn popup_butn">Отправить</button>
                                </form>
                            </div>
                        </div>
                    
            </main>
              {% include 'footer.tmpl' %}

        
    </body>
</html>