<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Pet-Alert</title>
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="public/pic/favicon.png"/>

        <!-- Подключаем свои стили -->
        <link rel="stylesheet" href="public/main-index.css">
    </head>
    <body>
        <nav class="menu">
                <a class="header_link" href="page.php?open=postsPage">Объявления</a>
                <a class="header_link" href="page.php?open=articlesPage">Статьи</a>
                <a class="header_link" href="page.php?open=aboutPage">О проекте</a>
        </nav>
        <main class="main_box">
            <img class="logo" src="public/pic/Logo.png" alt="logo">
        </main>
        <footer>
            <div class="copy">
                2019 © <a href="mailto:info@pet-alert.ru" class="bottom_menu">info@pet-alert.ru</a><br>
                <a href="page.php?open=privacyPage" target="_blank" class="bottom_menu">Политика обработки персональных данных пользователей</a>
            </div>
            <div class="links">
                <a href="https://vk.com/pet_alert" target="_blank"><img src="public/pic/Vk-icon.png" alt="vk link" class="socio_ico"></a>
                <a href="https://www.instagram.com/petalert_ru/" target="_blank"><img src="public/pic/ins-icon.png" class="socio_ico" alt="instagram link"></a>
                <a href="https://twitter.com/PetAlertRU" target="_blank"><img src="public/pic/tweeter-icon.png" class="socio_ico" alt="tweeter link"></a>
                <a href="https://www.facebook.com/Pet-Alert-747397372264474/" target="_blank"><img src="public/pic/fb-icon.png" class="socio_ico" alt="fb link"></a>
            </div>
        </footer>
{% include 'yandex.tmpl' %}
            <script src="public/app_index.js"></script>
    </body>
</html>