<!DOCTYPE html>
<html>
    <head>
        <title>Pet-Alert</title>
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="public/pic/favicon.png"/>

        <!-- Подключаем бутстраповские стили -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Подключаем свои стили -->
        <link rel="stylesheet" href="public/main-index.css">

        <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(51632531, "init", {
        id:51632531,
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/51632531" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    </head>
    <body>
        <div class="container">
            <header>
                <div class="row offset-right">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div>
                            <nav>
                                {% if user_id > 0 %}
                                <div class="login">
                                    <p>
                                        <img src="public/pic/Logo-mini.png" class="logo_mini">Добро пожаловать, {{user_name}}! 
                                        <a href="main_controller.php?user_acc=1">Личный кабинет</a> 
                                        <a href="main_controller.php?exit=1">Выйти</a>
                                    </p>
                                </div>
                                {%endif%}
                                <div class="menu">
                                    <p><a href="main_controller.php?desc=1">Объявления</a> <a href="main_controller.php?about=1">О проекте</a></p>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </header>
            <main>
                <div class="row offset-right">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <img class="logo" src="public/pic/Logo.png">
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </main>
            <footer>
                <div class="row offset-right">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="navbar-fixed-bottom">
                            <div class="copy">
                            2018 © <a href="mailto:info@pet-alert.ru" class="bottom_menu">info@pet-alert.ru</a><br>
                            <a href="main_controller.php?policy=1" target="_blank" class="bottom_menu">Политика обработки персональных данных пользователей</a>
                            </div>
                            <div class="links">
                                <a href="https://vk.com/pet_alert" target="_blank"><img src="public/pic/Vk-icon.png"></a>
                                <a href="https://www.instagram.com/petalert_ru/" target="_blank"><img src="public/pic/ins-icon.png"></a>
                                <a href="https://twitter.com/PetAlertRU" target="_blank"><img src="public/pic/tweeter-icon.png"></a>
                                <a href="https://www.facebook.com/Pet-Alert-747397372264474/" target="_blank"><img src="public/pic/fb-icon.png"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </footer>
        </div>
    </body>
</html>