<!DOCTYPE html>
<html>
  {% include 'head.tmpl' %}
  <body>
    {% include 'preloader.tmpl' %}
    {% include 'header.tmpl' %}
    <main>
      <div class="main_wrapper">
        <h2>Личный кабинет.</h2>
        <br>

        <div id="user_acc_handler" class="sweetcher">
          <button class="sweetcher_elem chosen" data-param="posts">Ваши объявления</button>
          <button class="sweetcher_elem" data-param="info">Личные данные</button>
        </div>

        <div class="add_form user_acc_form" id="add_post_desc">
          <h4 class="form_header">Редактирование объявлений</h4>
          <p class="form_info">Выберите тип объявления</p>

          <div class="" id="user_desc">

            <div id="showPostsMenu" class="sweetcher">
              <button class="sweetcher_elem chosen" data-param="lostPat">Поиск питомца</button>
              <button class="sweetcher_elem" data-param="findPat">Пристройство питомца</button>
            </div>

            <div class="post_block hidden" id="findPosts">
              {% for key, postFind in postsFind %}
                <div class="post_element">
                  <h4 class="user_acc_post_header">Объявление №{{postFind['id']}}. Дата объявления:
                    {{dateFind[key]['day']}}.{{dateFind[key]['month']}}.{{dateFind[key]['year']}}.
                  </h4>
                  <div class="post_wrapper">
                    <form action="user.php?editPost=1" method="POST">
                      <input type="hidden" name="type" value="find">

                      <input type="hidden" name="post_id" value="{{postFind['id']}}">
                      Имя питомца:
                      <input class="inp inp_form inp_user_info" type="text" name="header" value="{{ postFind['header'] }}">
                      Город:
                      <input class="inp inp_form inp_user_info" type="text" name="city" value="{{postFind['city']}}">
                      Способ связи:
                      <input class="inp inp_form inp_user_info" type="text" name="user_mail" value="{{postFind['contact']}}">
                      Описание:
                      <textarea class="txtarea" name="main_text">{{postFind['text']}}</textarea>
                      <button class="butn butn_inline" type="submit">Сохранить</button>
                    </form>
                    <form action="user.php?deletePost=1" method="POST" class="user_desc_del_form">
                          <input type="hidden" name="type" value="find">

                      <input type="hidden" name="post_id" value="{{postFind['id']}}">
                      <button class="butn useracc_butn" type="submit">Удалить</button>
                    </form>
                  </div>
                </div>
                {%endfor%}
              </div>


              <div class="post_block" id="lostPosts">
                {%if posts is empty%}
                  Вы еще не разместили ни одного объявления.
                  {%endif%}

                  {% for key, post in posts %}
                    <div class="post_element">
                      <h4 class="user_acc_post_header">Объявление №{{post['id']}}. Дата объявления:
                        {{date[key]['day']}}.{{date[key]['month']}}.{{date[key]['year']}}.</h4>
                      <div class="post_wrapper">
                        <form action="user.php?editPost=1" method="POST">
                          <input type="hidden" name="type" value="lost">

                          <input type="hidden" name="post_id" value="{{post['id']}}">
                          Имя питомца:
                          <input class="inp inp_form inp_user_info" type="text" name="header" value="{{ post['header'] }}">
                          Город:
                          <input class="inp inp_form inp_user_info" type="text" name="city" value="{{post['city']}}">
                          Способ связи:
                          <input class="inp inp_form inp_user_info" type="text" name="user_mail" value="{{post['contact']}}">
                          Описание:
                          <textarea class="txtarea" name="main_text">{{post['text']}}</textarea>


                          <button type="submit" class="butn useracc_butn">Сохранить</button>

                        </form>
                        <form action="user.php?deletePost=1" method="POST" class="user_desc_del_form">
                          <input type="hidden" name="type" value="lost">
                          <input type="hidden" name="post_id" value="{{post['id']}}">
                          <button type="submit" class="butn useracc_butn">Удалить</button>
                        </form>
                      </div>
                    </div>
                    {%endfor%}
                  </div>
                </div>

                <!--/End of User Descs-->

              </div>

              <div class="add_form hidden" id="user_info_desc">
                <h4 class="form_header">Редактирование личной информации</h4>
                <div class="user_data_div" id="user_data">
                  <form class="user_data_form" action="user.php?chandeUserData=1" method="POST">
                    <p class="form_info no_center">Изменить личные данные.</p>
                    Ваше имя:

                    <input class="inp inp_form inp_user_info" type="text" name="name" value="{{user_data[0]['name']}}">

                    Ваш e-mail:

                    <input class="inp inp_form inp_user_info" type="text" name="email" value="{{user_data[0]['email']}}">

                    <button type="submit" class="butn">Сохранить</button>
                  </form>


                  <form class="user_data_form" action="user.php?chandeUserPass=1" method="POST">
                    <p class="form_info no_center">Сменить пароль.</p>
                    Укажите старый пароль:
                    <br>
                    <input class="inp inp_form inp_user_info" type="password" name="old_pass">
                    <br>
                    Укажите новый пароль:
                    <br>
                    <input class="inp inp_form inp_user_info" type="password" name="new_pass">

                    <button type="submit" class="butn">Сохранить</button>
                  </form>
                </div>
              </div>
            </div>
          </main>
          {% include 'footer.tmpl' %}

          {% include 'yandex.tmpl' %}

          <script src="public/app_user_acc.js"></script>
        </body>

      </html>
